# Created by Ankur Jaiswal
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs
hs_err_pid*


### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion

*.iml

## Directory-based project format:
.idea/

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

### Eclipse template
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# Locally stored "Eclipse launch configurations"
*.launch

# JDT-specific (Eclipse Java Development Tools)
.classpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

#HTML report


# Maven stuff
target/

# TestNG Output


#Screenshot
screenshots/

result/

#Log
*.log
.DS_Store
